html, body, #__next {
  height: 100%;
  width: 100%;

  margin: 0;
  font-family: "Omyu_Pretty" !important;
  background-color: #f9f9f9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Omyu_Pretty";
  font-weight: 200;
  src: url("../../public/font/Omyu_Pretty.ttf") format("truetype");
}